<?xml version='1.0' encoding='utf-8'?>
<plugin id="osvlab-desktop-shortcut" version="0.0.2" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>desktop-shortcut</name>
    <js-module name="DesktopShortcut" src="www/desktopShortcut.js">
        <clobbers target="DesktopShortcut" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="DesktopShortcut">
                <param name="ios-package" value="DesktopShortcut" />
            </feature>
        </config-file>
        <header-file src="src/ios/DesktopShortcut.h" />
        <source-file src="src/ios/DesktopShortcut.m" />
        <header-file src="src/ios/lib/CXLCreateDesktopManager.h" />
        <source-file src="src/ios/lib/CXLCreateDesktopManager.m" />
        <header-file src="src/ios/lib/NSFileManager+Utils.h" />
        <source-file src="src/ios/lib/NSFileManager+Utils.m" />
        <header-file src="src/ios/lib/UIImage+CXLDataURLImage.h" />
        <source-file src="src/ios/lib/UIImage+CXLDataURLImage.m" />
        <resource-file src="src/ios/lib/HTML/index.html" />
        <resource-file src="src/ios/lib/HTML/content.html" />
        <framework src="CocoaHTTPServer" type="podspec" spec="~> 2.3"/>
        <framework src="YYCategories" type="podspec" spec="~> 1.0.4" />
    </platform>
</plugin>